@model UserVM

<h2>Role Management</h2>

<input asp-for="ApplicationUser.Name" />

@* <div class="mb-3">
<select asp-for="Role" asp-items="@RoleList" class="form-select">
<option disabled selected>-- Select Role --</option>
</select>
</div> *@
@* <div class="mb-3">
<select asp-for="ApplicationUser.CompanyId" style="display: none;" asp-items="@CompanyList"
class="form-select">
<option disabled selected>-- Select Company --</option>
</select>
</div> *@